.banner-main {
  background-color: linear-gradient(180deg, #f5f4fa, rgba(251, 251, 253, 0));
  padding: 80px 0;
  .banner-content {
    text-align: center;
    h1 {
      font-size: 40px;
      line-height: 54px;
      color: black;
    }
    h4 {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }
  }
}
